.home{
    font-family:'Times New Roman', Times, serif;
    color:rgb(253, 247, 227) !important;
}
.bg-nav{
    background: #484848
}
.nav-button {
    font-size: 40px;
	color: rgba(175, 170, 170,0.4);
}
.nav-button:hover{
    color: rgba(175, 170, 170, 0.8);
}
.content {    
    display: block;    
    font-family:'Times New Roman', Times, serif;
    background: rgb(253, 247, 227);
}
.boxes{
    border-top: 2px solid black;
    background: rgb(250, 250, 249);
    border-bottom: 2px solid black;
    padding: 20px;
}
.parent{    
    padding-left: 75px;
    padding-right: 75px;
    line-height: 80%;
    margin: 10px;
    display: inline-block;
    text-align: center;
}
.child{
    display: flex;
    margin: 5px;
    text-align: center;
}
.overview{
    flex: 0.3;
    margin: 5px;
    text-align: center;
}
.external-drive{
    flex:0.8;
    margin: 5px;
    text-align: center;
}
.internal-drive{
    flex:0.6;
    margin: 5px;
    text-align: center;
}

/*  Extra small devices (portrait phones, less than 576px)
    No media query since this is the default in Bootstrap
    Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    .home{
        display: none !important;
    }
    .ml-10 {
        flex:1 !important;
        margin-left: 0rem !important;
    }
    .mr-10 {
        flex:1 !important;
    	margin-right: 0rem !important;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .home {
    	display: block !important;
    }
    .ml-10 {
    	margin-left: 5rem !important;
    }
    .mr-10 {
    	margin-right: 5rem !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .home {
    	display: block !important;
    }
    .ml-10 {
    	margin-left: 20rem !important;
    }    
    .mr-10 {
    	margin-right: 20rem !important;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .home {
    	display: block !important;
    }    
    .ml-10 {
    	margin-left: 20rem !important;
    }
    .mr-10 {
    	margin-right: 20rem !important;
    }
}
